* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.container .sides {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.container form input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    outline: none;
}

.container form button {
    padding: 12px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    transition: all 0.3s ease;
}

.container form button:hover {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
}

form input:focus {
    border-color: #4a9b8e;
    box-shadow: 0 0 5px rgba(74, 155, 142, 0.2);
}

body{
    background-color: #f0f0f0;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 40px;
        max-width: 90%;
        box-shadow: none;
    }

    .container .sides {
        flex-direction: column;
    }

    .container form {
        max-width: 100%;
    }
    
}

@media (max-width: 480px) {

    .container {
        padding: 20px;
        margin: 15px auto;
        box-shadow: none;
    }

    .container form {
        max-width: 100%;
    }

    .container form input {
        padding: 10px;
        font-size: 16px;
        margin-bottom: 12px;
    }

    .container form button {
        padding: 10px;
        font-size: 14px;
    }

    .container h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .big {
        height: auto;
        min-height: 100vh;
        padding: 20px 0;
    }
    .container .sides .left img {
        width: 170px;
    }
}
